# Data Files
/data
!/data/*.py
!/data/raw/*.dvc
!/data/processed/*.dvc

# DVC cache (depends on your dvc config, but often included)
.dvc
!.dvc/config
!.dvc/.gitignore
.dvcignore

# Environment Files
.pdvenv/

venv/
ENV/
env/
.venv/
*.DS_Store

/models
!/models/*.py

/mlruns
