# Data Files
/data/*
!/data/*.py
!/data/*.dvc

# DVC cache (depends on your dvc config, but often included)
.dvc/*
!.dvc/config
!.dvc/.gitignore

# Environment Files
.pdvenv/
.pdenv
venv/
ENV/
env/
.venv/
*.DS_Store

/models
!/models/*.py

/mlruns/
